.button {
  color: rgb(53, 48, 48);
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  background-color: #d79822ce;
  box-shadow: 0px 2px 5px #d79822cd;
  transition: all 0.3s ease;
}

.button:hover,
.button:active {
  background-color: #d79922;
  color: #1b1a1a;
  transform: scale(1.1);
}
