@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/cat-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-align: left;
  color: #030303;
}
